#container{
    box-sizing: border-box;
    margin: 50px;
    /* margin-right: 50px; */
    height: fit-content;
    width: 400px;
    background-color: rgb(45, 41, 41);
    box-shadow: black;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
}

P{
    text-align: left;
    color: white;
    margin-left: 20px;
    /* color: rgb(0, 0, 0); */
    /* margin-bottom: 30px; */
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 300px;
}